<div class="flex flex-col bg-custom-gray">

  <header>

    <div class="container-logo">
      <img src="../assets/images/logo.png" alt="Logo">
    </div>

  </header>


  <div class="container-body">

    <div class="container-body">
      <div class="image-container">
        <div class="image-column animate-float" id="image1-column">
          <img src="../assets/images/burbuja.png" alt="Imagen 1" class="max-w-full">
        </div>
        <div class="image-column animate-float">
          <img src="../assets/images/chatbot.png" alt="Imagen 2" class="max-w-full">
        </div>
      </div>

      <div>
        <p class="titulo">Consulta sobre un medicamento...</p>
      </div>

      <div class="text-container">

        <div class="text-column">
          <h2>Descripción</h2>
          <hr class="divider">
          <p>Conoce la composición del medicamento <br> y su propósito de uso</p>
        </div>
        <div class="text-column">
          <h2>Dosificación</h2>
          <hr class="divider">
          <p>Conoce la dosis recomendada según <br> tu edad y adhiérete a tu tratamiento</p>
        </div>
        <div class="text-column">
          <h2>Efectos Secundarios</h2>
          <hr class="divider">
          <p>Conoce los efectos secundarios <br> más comunes y sientete tranquilo</p>
        </div>
      </div>

      <div class="text-container">

        <div class="text-column">
          <h2>Nombres Alternativos</h2>
          <hr class="divider">
          <p>Conoce con qué otros nombres puedes <br> encontrar ese medicamento</p>
        </div>
        <div class="text-column">
          <h2>Contraindicaciones</h2>
          <hr class="divider">
          <p>Conoce en qué circunstancias no <br> deberías tomar el medicamento</p>
        </div>
      </div>



      <div class="chatbot">
        <app-chat-bot />
      </div>

    </div>

  </div>


  <footer class="bg-light py-4 mt-4">
    <div class="container mx-auto">
      <p class="text-center">AIDBOT&commat;2024</p>
    </div>
  </footer>

</div>